/*
 * Style twaks
 * --------------------------------------------------
 */
body {
  padding-top: 70px;
}
footer {
    font-size: small;
  width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
}

.left-base.container {
    margin-left:10px;
    width:1100px;
    max-width:1200px;
}

.left-base.container.wide{
    width: 1400px;
    max-width:1500px;
}
.jumbotron#video_intro {
    width: 700px;
    height: 475px;
    padding-right:50px;
    padding-left:50px;
    padding-top:30px;
    padding-bottom:30px;
}

.jumbotron#text_intro{
    width: 290px;
    height: 475px;
    padding-right:10px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.well.tutorial{
    padding:10px;
}

div#tutorial_menu{
    width: 180px;
}

div#tutorial_text{
    width: 600px;
}

div#rumor_component{
    width: 350px;
}

#logo_area{
    padding-top:10px;
    padding-bottom:10px;
}

#index_first_column{
    width:720px;
}

#index_second_column{
    width:300px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
